.newsletter-container {
    width: 50%;
    text-align: center;
}
.newsletter-container p {
    text-align: center;
    width: 100%!important;
    max-width: 100%;
}
.newsletter {
    margin-bottom: 4em;
}
.newsletter input[type=email] {
    padding: 20px;
    margin-right:3%;
    width: 50%;
    font-family: Lato;
    font-size: 1.3em;
    border-width: 0;
    background: #F0F0F0;
}
.newsletter input[type=submit] {
    padding: 20px;
    color: #FFFFFF;
    width: 32%;
    font-family: Lato;
    font-size: 1.3em;
    border-width: 0;
    background: #c4996c;
    cursor: pointer;
}
.newsletter input[type=submit]:hover {
    background: #5b4c42;
}
@media (max-width: 700px) {
    .newsletter-container {
        width: 100%;
    }
}